/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~material-icons/iconfont/material-icons.css';

* {
    transition: .4s ease-in-out;
}

body {
    background: #a8a6a6;
    color: #f1f1f1;
}

.card {
    color: #291919;
}